---
BasedOnStyle: LLVM
IndentWidth: '4'
NamespaceIndentation: Inner
PointerAlignment: Left
SortIncludes: 'false'
SpaceAfterLogicalNot: 'false'
TabWidth: '4'
UseTab: ForContinuationAndIndentation
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveDeclarations: AcrossEmptyLines
AlignConsecutiveBitFields: AcrossEmptyLines
AlignConsecutiveMacros: AcrossEmptyLines
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: Inline

...
